mixin class-label-control(entry)
    div(class="btn-group class-labels" data-toggle="buttons")
      
      if entry.label === 1
        label(class="btn btn-sm btn-success active")
          input(type="radio" name="options" data-label="1" data-id="#{entry.id}" autocomplete="off" checked="checked")
          | Positive
      else
        label(class="btn btn-sm btn-success")
          input(type="radio" name="options" data-label="1" data-id="#{entry.id}" autocomplete="off")
          | Positive
      if entry.label === 0
        label(class="btn btn-sm btn-default active")
          input(type="radio" name="options" data-label="0" data-id="#{entry.id}" autocomplete="off" checked="checked")
          | None
      else
        label(class="btn btn-sm btn-default")
          input(type="radio" name="options" data-label="0" data-id="#{entry.id}" autocomplete="off")
          | None
      if entry.label === -1
        label(class="btn btn-sm btn-danger active")
          input(type="radio" name="options" data-label="-1" data-id="#{entry.id}" autocomplete="off" checked="checked")
          | Negative
      else
        label(class="btn btn-sm btn-danger")
          input(type="radio" name="options" data-label="-1" data-id="#{entry.id}" autocomplete="off")
          | Negative
      if entry.label === -2
        label(class="btn btn-sm btn-warning active")
          input(type="radio" name="options" data-label="-2" data-id="#{entry.id}" autocomplete="off" checked="checked")
          | Not Relevant
      else
        label(class="btn btn-sm btn-warning")
          input(type="radio" name="options" data-label="-2" data-id="#{entry.id}" autocomplete="off")
          | Not Relevant


